@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your global styles here later */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}
